.makeOrder {
	h2 {
		margin-right: 10px;
	}
}

.orderTable {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;

	th {
		width: 50%;
	}

	td {
		width: 50%;
		font-size: 16px;
	}
}

.addRemoveFood {
	padding-top: 20px;
}

#foodInArea {
	position: relative;
	bottom: 20px;
}

#ordername {
	width: 100%;

	@include respond-to(xs) {
		width: 60%;
	}
}

#submitButton {
	float: right;
}

#removeFoodButton {
	margin-left: 10px;
}

#unit {
	padding-top: 6px;
}

#unitDiv {
	select {
	   -webkit-appearance: none; 
	   -moz-appearance: none;
	   appearance: none;      /* remove default arrow */
	}
}